<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CadiHelp</title>
    <link href='https://fonts.googleapis.com/css?family=Hepta Slab' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo1.png' %}" />


</head>
<body>
    <div class="main">
        <div class='login_logo'>
            <img class="login_logo_img" src="{% static 'images/logo.png'%}">
        </div>

        {% block content %}

        <!-- signup and login forms go here -->

        {% endblock content %}

    </div>

    <!-- JS -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>