{% extends 'accounts/base.html' %}
{% block content %}
{% load static %}

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <h2 class="form-title">đăng ký</h2>
            <form method="POST" id="signup-form" class="signup-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="đăng ký"/>
                </div>
            </form>

            {% include 'accounts/messages.html' %}

            <div class='util_area'>
                <a href="{% url 'accounts:login' %}" class='loginhere-link'>
                    <span class='login_help_tag'>
                        <img src="{% static 'icons/login-arrow.svg'%}" class="login_help_logo">
                    </span>
                    đăng nhập
                </a>
    
                <a href="{% url 'accounts:reset_password' %}" class='loginhere-link'>
                    <span class='login_help_tag'>
                        <img src="{% static 'icons/login-arrow.svg'%}" class="login_help_logo">
                    </span>
                    quên mật khẩu
                </a>

            </div>
        </div>
    </div>
</section>

{% endblock content %}